.button {
  outline: none;
  cursor: pointer;
  padding: rem(12px) rem(36px);
  display: block;
  font-weight: $font-regular;
  font-size: $font-xs;
  text-transform: uppercase;
}

.primary {
  border: 3px solid $primary-color;
  background: $primary-color;
  color: $secondary-color;

  &:hover {
    background: color.adjust($primary-color, $lightness: 20%);
    border: 3px solid color.adjust($primary-color, $lightness: 20%);
  }
}

.secondary {
  border: 3px solid $primary-color;
  background-color: $secondary-color;

  &:hover {
    background: color.adjust($secondary-color, $lightness: -5%);
  }
}
