.wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.icon {
  display: inline-block;
  vertical-align: top;
}

.title {
  font-weight: 900;
  font-size: 2rem;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
  color: $primary-80;
}

@include media(desktop) {
  .wrapper {
    background-color: rgba(125, 24, 34, .3);
  }
}
