// Container sizes
$container-sizes: (
  tablet-big: calculate-container-size(rem(936px)),
  laptop: calculate-container-size(rem(1014px)),
  desktop: calculate-container-size(rem(1254px)),
);

@mixin generate-container-media {
  @each $bp, $container-size in $container-sizes {
    @include media($bp) {
      max-width: $container-size;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(#{$container-padding} / 2);

  @include generate-container-media;
}
