// Number of columns for different sizes
$grid-columns: (
  default: 5,
  tablet: 12,
  desktop: 16,
);

@each $bp, $cols in $grid-columns {
  @if $bp == "default" {
    @for $i from 1 through $cols {
      .grid-cols-#{$i} {
        grid-template-columns: repeat($i, minmax(0, 1fr));
        column-gap: 20px;
      }

      .col-span-#{$i} {
        grid-column: span #{$i} / span #{$i};
      }
    }
  } @else {
    @include media($bp) {
      @for $i from 1 through $cols {
        .grid-cols-#{$bp}-#{$i} {
          grid-template-columns: repeat($i, minmax(0, 1fr));
          column-gap: 20px;
        }

        .col-span-#{$bp}-#{$i} {
          grid-column: span #{$i} / span #{$i};
        }
      }
    }
  }
}

.grid {
  display: grid;
}
