@mixin font(
  $size,
  $weight,
  $line-height: 160%,
  $family: $font-primary,
  $transform: none
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  text-transform: $transform;

  @if $family != "_" {
    font-family: $family;
  }
}
