// ~~~~~~~~~~~~~ 1. Colors ~~~~~~~~~~~~~

$primary-color: #000;
$secondary-color: #fff;
$accent-color: #e4e4e4;

// ~~~~~~~~~~~~~ 2. Fonts ~~~~~~~~~~~~~

// Font families
$font-primary: archivo, sans-serif;

// Font weights
$font-regular: 400;
$font-bold: 700;

// Font sizes
$font-l: rem(28px);
$font-m: rem(24px);
$font-s: rem(20px);
$font-xs: rem(16px);
$font-xxs: rem(14px);
$font-xxxs: rem(10px);

// ~~~~~~~~~~~~~ 3. Spacings ~~~~~~~~~~~~~

// Grid and gutters
$container-max-width: 1280px;
$gutter: 15px;
